<h1> Hey what's ya song</h1>

<form method="POST" action="/songs">
<label>Song name:</label>
<input type="text" name="song[name]" id="Name">
<br>
<label>Artist name:</label>
<input type="text" name="artist[name]" id="Artist Name">
<br>
<label>Check genres that apply:</label>
<% Genre.all.each do |genre| %>
	<input type="checkbox" id = "<%= genre.name %>" name="song[genre_ids][]" value="<%= genre.id %>">
		<%= genre.name %>
	</input>
<% end %>
<br>
<label>-OR!- Create a new genre:</label>
<input type="text" name="genres[][name]" id="new_genre">

<br>
<input type="submit" value="Create">

</form>
