<!-- describe "show pages" do
  describe "/songs/:slug" do
    before do
      visit "/songs/#{@song.slug}"
    end

    it 'responds with a 200 status code' do
      expect(page.status_code).to eq(200)
    end

    it "displays the song's artist" do
      expect(page).to have_content(artist_name)
    end

    it "displays the song's genres" do
      expect(page).to have_content(genre_name)
    end

    it "contains links to the artist's show page" do
      expect(page).to have_css("a[href='/artists/#{@artist.slug}']")
    end

    it "contains links to each genre's show page" do
      expect(page).to have_css("a[href='/genres/#{@genre.slug}']")
    end
  end -->


  How ya doin?

<a href='/artists/<%=@song.artist.slug%>'><%=@song.artist.name%></a>
<%@song.genres.each do |genre| %>
<a href='/genres/<%=genre.slug%>'><%=genre.name%></a>
<%end %>
