<!DOCTYPE html>
<html>
  <head>
  	<!-- <link rel="stylesheet" href="../../public/stylesheets/style.css" type="css/text"> -->

    <title>pLaYlIsTR</title>
  </head>

  <body>
  	<h1>pLaYlIsTR</h1>
		<ul>
		<li><h3><a href="/songs">All Songs</a></h3></li>
		<li><h3><a href="/artists">All Artists</a></h3></li>
		<li><h3><a href="/genres">All Genres</a></h3></li>
		</ul>

    <br>

    <%= yield %>
  </body>
</html>